<div class='iwm-intro-area-view2 col-md-6'>
Welcher dieser Hotels würden Sie in Ihre engere Auswahl nehmen? Bitte markieren Sie die ausgewählten Hotels, indem Sie auf die jeweiligen Angebotsfelder klicken (Mehrere Möglichkeiten erlaubt)</div>
<div class='col-md-12'>
    <div ng-repeat='product in hotels'>
        <div>
            <div class="col-md-5" ng-if='product.id%2 == 0' ng-click='setChoosedIn3(product.id)'>
                <img ng-if='product.choosedIn3 == false' class='col-md-12 img-hotel' src='{{product.image}}'>
                <img ng-if='product.choosedIn3 == true' class='col-md-12 img-hotel-choosed' src='{{product.image}}'>       
             </div>        
            <div class="col-md-5 col-md-offset-1" ng-if='product.id%2 == 1' ng-click='setChoosedIn3(product.id)'>
                <img ng-if='product.choosedIn3 == false' class='col-md-12 img-hotel' src='{{product.image}}'>
                <img ng-if='product.choosedIn3 == true' class='col-md-12 img-hotel-choosed' src='{{product.image}}'>
            </div>
        </div>
    </div>
</div>
<a ng-href='#/4b' class='iwm-intro-area-view2 col-md-6 btn btn-default' ng-click='countChoosedIn3()'>
    <div class='col-md-10'>
        <p class='link-description'>Nachdem Sie Ihre engere Auswahl getroffen haben, klicken Sie bitte hier.</p>
    </div>
    <div col-md-2>
        <span class='fa fa-angle-right'></span>
    </div>
</a>
