<div class='iwm-intro-area-view2 col-md-6'>
Bitte schließen Sie zunächst die einzelnen Tabs der Produktseiten von amazon.de und kehren Sie zu dieser Übersicht zurück.
Welche dieser Kompaktdigitalkameras würden Sie am ehesten kaufen? Bitte markieren Sie die ausgewählte Kompaktdigitalkamera, indem Sie auf das Produkt klicken.</div>
<div class='col-md-12'>


    <div ng-repeat="product in products | orderBy:'randomValue'" ng-if='product.choosedIn3 == true'>
        <div ng-click='setChoosedIn6(product.id)'>
            <div class="col-md-3">
                <img ng-if='product.choosedIn6 == false' class='col-md-12 img-camera' src='{{product.image}}'>
            <img ng-if='product.choosedIn6 == true' class='col-md-12 img-camera-choosed' src='{{product.image}}'>        </div>
        </div>
    </div>
</div>
<a ng-href='#/7a' class='iwm-intro-area-view2 col-md-6 btn btn-default' ng-click='createObject()'>
<div class='col-md-10'>
    <p class='link-description'>Nachdem Sie Ihre Kaufentscheidung getroffen haben, klicken Sie bitte hier.</p>
</div>
<div col-md-2>
    <span class='fa fa-angle-right'></span>
</div>
</a>