<div class='iwm-intro-area-view2 col-md-6'>
<strong>Bitte entscheiden Sie vorerst, welche der 8 Kompaktdigitalkameras</strong> Sie in die <strong>engere Auswahl</strong> nehmen wollen (mehrere Möglichkeiten erlaubt). Danach stehen Ihnen nochmals alle Produktinformationen zur Verfügung.</div>
<div class='col-md-12'>
    <div ng-repeat='product in products'>
        <a href="{{product.url}}"  target="_blank" ng-click='setVisitedIn2(product.id)'>
        <div class="col-md-3">
            <img class='col-md-12 img-camera-with-Link' src='{{product.image}}'>
        </div>
        </a>
    </div>
</div>
<a ng-href='#/3a' class='iwm-intro-area-view2 col-md-6 btn btn-default'>
    <div class='col-md-10'>
        <p class='link-description'>Klicken Sie unten auf den roten Pfeil, wenn Sie Ihre engere Auswahl getroffen haben.</p>
    </div>
    <div col-md-2>
        <span class='fa fa-angle-right'></span>
    </div>
</a>
