<div class='iwm-intro-area-large col-md-10 col-md-offset-2'>
Sie möchten zunächst eine <strong>engere Auswahl treffen</strong>, bevor Sie sich für eine Kompaktdigitalkamera entscheiden. Schauen Sie sich die Produkte in Ruhe an. Wenn Sie auf die <strong>Bilder</strong> der jeweiligen Produkte <strong>klicken</strong>, gelangen Sie auf die <strong>Produktseiten auf</strong> amazon.de. Nachdem Sie Ihre engere Auswahl getroffen haben, stehen Ihnen nochmals alle Informationen zur Verfügung.
</div>
<div class='col-md-12'>
    <div ng-repeat="product in products | orderBy:'randomValue'">
        <a href="{{product.url}}"  target="_blank" ng-click='setVisitedIn2(product.id)'>
        <div class="col-md-3">
            <img class='col-md-12 img-camera-with-Link' src='{{product.image}}'>
        </div>
        </a>
    </div>
</div>
<a ng-href='#/3a' class='iwm-bottom-area col-md-6 btn btn-default'>
    <div class='col-md-10 col-md-offset-1'>
        <p class='link-description'>Engere Auswahl treffen</p>
    </div>
    <div col-md-2>
        <span class='fa fa-angle-right'></span>
    </div>
</a>
