<div class='iwm-intro-area-view2 col-md-6'>
Im Folgenden sehen Sie Ihre engere Auswahl der Kompaktdigitalkameras. Wir würden Sie gleich bitten eine Entscheidung zu treffen, welche Sie am ehesten kaufen würden. Wenn Sie auf die Bilder der jeweiligen Kompaktdigitalkameras klicken, gelangen Sie erneut auf die Produktseiten auf amazon.de. 
</div>
<div class='col-md-12'>    
    <div ng-repeat="product in products | orderBy:'randomValue'" ng-if='product.choosedIn3 == true'>
        <a href="{{product.url}}" target="_blank" ng-click='setVisitedIn5(product.id)'>
        <div class="col-md-3">
            <img class='col-md-12 img-camera-with-Link' src='{{product.image}}'>
        </div>
        </a>
    </div>
</div>


<a ng-href='#/6a' class='iwm-intro-area-view2 col-md-6 btn btn-default'>
<div class='col-md-10'>
    <p class='link-description'>Entscheidung treffen</p>
</div>
<div col-md-2>
    <span class='fa fa-angle-right'></span>
</div>
</a>