<div class='iwm-intro-area col-md-6 col-md-offset-3'>
    <div class='iwm-text'>
        <div class="col-md-12">
            <img src='app/modules/core/assets/experiment/iwm.png' id='iwm-logo'>
            <br><br>
            <p>Sie haben folgende Kompaktdigitalkameras in die engere Auswahl genommen. Sie können nun erneut die einzelnen Produktseiten auf Amazon aufrufen, wenn Sie auf die Kompaktdigitalkameras klicken. Anschließend schließen Sie gegebenenfalls die einzelnen Produktseiten von Amazon und kehren Sie zu dieser Übersicht zurück.</p>
            <br>
            Bitte treffen Sie in Ruhe eine Kaufentscheidung.
            <br>
        </div>
    </div>
</div>
<a ng-href='#/6a' class='iwm-intro-area-view2 col-md-6 btn btn-default'>
<div class='col-md-10'>
    <p class='link-description'>Klicken Sie bitte hier wenn Sie Ihre Wahl getroffen haben.</p>
</div>
<div col-md-2>
    <span class='fa fa-angle-right'></span>
</div>
</a>