<!-- Dieser View dient der Administration der seite. Hierüber ist es möglich alle Testergebnisse anzuzeigen und als
CSV Datei herunter zu laden.  -->

<div class='iwm-intro-area col-md-8 col-md-offset-2' ng-init='showResults()'>
    <div class='iwm-text'>
        <div class="col-md-12">
            <img src='images/iwm.png' class='iwm-logo'>
            <br><br>
		
				<table class="table table-hover" >
					<thead>
						<tr>
							<th>UserId</th>
							<th>visitedIn2</th>
							<th>choosedIn3</th>
							<th>visitedIn5</th>
							<th>choosedIn6</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='user in users track by $index'>
							<td>{{user.userId}}</td>
							<td>{{user.visitedIn2}}</td>
							<td>{{user.choosedIn3}}</td>
							<td>{{user.visitedIn5}}</td>
							<td>{{user.choosedIn6}}</td>

						</tr>
					</tbody>
				</table>



        </div>
    </div>
</div>

<a class='iwm-intro-area-view2 col-md-6 btn btn-default' ng-click='exportData()'>
    <div class='col-md-10'>
        <p class='link-description'>Klicken Sie hier, um die Ergebnisse als CSV-Datei herunter zu laden.</p>
    </div>
    <div col-md-2>
        <span class='fa fa-download'></span>
    </div>
</a>