<ng-include src="'views/main/sidebar/sidebar.html'"></ng-include>



<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" id='quoteField'>
	
	

		<h1>{{current.id}}</h1>

		<h2>{{current.text}}</h2>
		<h2>{{current.author}}</h2>

</div>
	






<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" id='quoteField'>
		
	<h4>Add Quote</h4>
	<input type="text" name="" id="input" class="form-control input-lg" value="" required="required" pattern="" title="" ng-model='jan'>
</div>

	